name: Create Release

on:
   workflow_dispatch:
      inputs:
         version_bump:
            description: "Version bump (patch, minor, major)"
            required: true
            type: choice
            options:
               - patch
               - minor
               - major

jobs:
   tag:
      runs-on: [self-hosted, linux, x64]
      permissions:
         contents: write

      steps:
         - name: Checkout repository
           uses: actions/checkout@v4

         - name: Bump version and push tag
           id: tag_version
           uses: mathieudutour/github-tag-action@v6.1
           with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              default_bump: ${{ inputs.version_bump }}
              tag_prefix: v
